<% @page_title = "Index Page" %>

<%= link_to("<< Back to Subjects", subjects_path, :class => 'back-link') %>

<div class="pages index">
  <h2>Pages</h2>

  <%= image_tag('plus_sign.png', size: '11x11', alt: '+') %>
  <%= link_to("Add New page", new_page_path(subject_id: @subject.id), :class => 'action new') %>
  <br/><br/>

  <table class="listing" summary="page list">
    <tr class="header">
      <th>#</th>
      <th>Page</th>
      <th>Visible</th>
      <th>Permalink</th>
      <th>Sections</th>
      <th>Actions</th>
    </tr>
    <% @pages.each do |page| %>
    <tr>
      <td><%= page.position %></td>
      <td><%= page.name %></td>
      <td class="center"><%= status_tag(page.visible) %></td>
      <td><%= page.permalink %></td>
      <td><%= page.sections.size %></td>
      <td class="actions">
        <%= link_to("View Sections", sections_path(page_id: page.id), :class => 'action show') %>
        <%= link_to("Show", page_path(page, subject_id: @subject.id), :class => 'action show') %>
        <%= link_to("Edit", edit_page_path(page, subject_id: @subject.id), :class => 'action edit') %>
        <%= link_to("Delete", delete_page_path(page, subject_id: @subject.id), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
